.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



body {
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

p, a {
    font-family: 'barlow', sans-serif;
    font-weight: 600;
}



.navbar {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 20px;
}

.navbar-brand {
    font-family: 'barlow', sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
    letter-spacing: 0.8px;
    color: white;
}

.nav-item{
    margin: 0 15px;
}

.nav-link {
    font-family: 'barlow', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
}

.contact {
    background-color: white;
    color: hsl(212, 27%, 19%);
    font-size: 1rem;
    width: 120px;
    border-radius: 40px;
}

.contact:hover {
    background-color: rgb(234, 234, 234);
    color: hsl(212, 27%, 19%);
}



.hero {
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
}

.hero-title {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    padding-top: 10vh;
    margin-bottom: 4rem;
}

.desc{
    padding: 8.8rem;
}

.text-box {
    text-align: left;
}

.text-box h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.text-box p {
    font-family: 'barlow', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: hsl(232, 10%, 55%);
    margin: 2rem 0;
}

.text-box .ylw {
    background-color: hsl(51, 100%, 49%);
    color: hsl(212, 27%, 19%);
    border-style: none;
}

.text-box .pnk {
    background-color: hsl(7, 99%, 70%);
    color: hsl(212, 27%, 19%);
    border-style: none;
}

.left-feature {
    padding: 0;
    
    overflow-x: hidden;
}

.right-feature {
    padding: 0;
    outline: 1px solid red;
    overflow-x: hidden;
}

.text-body {
    width: 50%;
    margin: -14rem auto 4.8rem auto;
}

.text-body h3 {
    color: hsla(211, 28%, 19%, 0.801);
}

.text-body p {
    color: hsla(211, 28%, 19%, 0.644);
    line-height: 1.8rem;
    font-weight: 500;
    padding-top: 1.2rem;
}

.testimonials {
    padding: 10rem 3rem 10rem 3rem;
}

.testimonials h3 {
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: hsl(210, 4%, 67%);
}

.testimonials p {
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 400;
    color: hsl(232, 10%, 55%);
    margin-bottom: 5rem;
}

.testimonials h5 {
    font-size: 1.1rem;
}

.testimonials h6 {
    font-family: 'barlow', sans-serif;
    font-size: 0.9rem;
    color: hsl(210, 4%, 67%);
}

.pics {
    height: 5rem;
    border-radius: 100%;
    margin: 4rem;
}

.r-box {
    padding: 2rem;
}

.col-3 {
    padding: 0;
}

.col-6 {
    padding: 0;
}

.col-7 {
    padding: 0;
}


